<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>About us</title>

<link href="../static/query/css/bootstrap.css" th:href=@{/query/css/bootstrap.css} rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" th:href=@{/query/css/style.css} href="../static/query/css/style.css" type="text/css" media="all" />
<link href="../static/query/css/font-awesome.css" th:href=@{/query/css/font-awesome.css} rel="stylesheet">

<script src="../static/query/js/jquery-1.11.1.min.js" th:src=@{/query/js/jquery-1.11.1.min.js}> </script>
<script src="../static/query/js/bootstrap.js" th:src=@{/query/js/bootstrap.js}></script>
<script type="text/javascript" src="../static/query/js/move-top.js" th:src=@{/query/css/move-top.js}></script>
<script type="text/javascript" src="../static/query/js/easing.js" th:src=@{/query/js/easing.js}></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!--//end-animate-->
</head>
<body>
	<!-- header -->
	<div class="header">
		<div class="top-header">
			<div class="container">
				<div class="top-header-info">
					<div class="top-header-left wow fadeInLeft animated" data-wow-delay=".5s">
						<p>More than 10 new destinations for your trip</p>
					</div>
					<div class="top-header-right wow fadeInRight animated" data-wow-delay=".5s">
						<div class="top-header-right-info">
							<ul>
								<li><a href="login_lcy.html">Login</a></li>
								<li><a href="registration.html">Sign up</a></li>
							</ul>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="bottom-header">
			<div class="container">
				<div class="logo wow fadeInDown animated" data-wow-delay=".5s">
					<h1><a href="index.html"><img src="../static/query/images/logo.jpg" alt="" /></a></h1>
				</div>
				<div class="top-nav wow fadeInRight animated" data-wow-delay=".5s">
					<nav class="navbar navbar-default">
						<div class="container">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu
							</button>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li><a href="home.html">Home</a></li>
								<li><a href="usr-query.html">Services</a></li>
								<li><a href="about.html" class="active">About</a></li>
							</ul>
							<div class="clearfix"> </div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- //header -->
	
	<!-- about -->
	<div class="about">	
		<!-- team -->
		<div class="team">
			<div class="container">
				<div class="popular-heading team-heading">
					<h3 class="wow fadeInUp animated" data-wow-delay=".5s">Our Team</h3>
					<p class="wow fadeInUp animated" data-wow-delay=".5s"></p>
				</div>
				<div class="team-grids">
					<div class="col-md-4 team-grid wow fadeInLeft animated" data-wow-delay=".5s">
						<img src="../static/query/images/t1.jpeg" th:src=@{/query/images/t1.jpeg} alt="" />
						<h4>赵博瑄</h4>
						<p>后台</p>

					</div>
					<div class="col-md-4 team-grid wow fadeInUp animated" data-wow-delay=".5s">
						<img src="../static/query/images/t2.jpg" th:src=@{/query/images/t2.jpg} alt="" />
						<h4>王辉</h4>
						<p>前端</p>
					</div>
					<div class="col-md-4 team-grid wow fadeInRight animated" data-wow-delay=".5s">
						<img src="../static/query/images/t3.jpg" th:src=@{/query/images/t3.jpg} alt="" />
						<h4>任瑞阳</h4>
						<p>报告</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!-- //team -->
	</div>
	<!-- //about -->
	
	<!-- footer -->
	<div class="footer">
			<div class="copyright wow fadeInUp animated" data-wow-delay=".5s">
				<p>© 2019 赵博瑄、王辉、任瑞阳 - 服务计算课程设计</p>
			</div>
		</div>
	<!-- //footer -->
</body>	
</html>